.btn {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
.table_container {
  width: 100%;
  height: auto;
}
td {
  background: rgb(94 2 2) !important;
  color: white;
}
.red {
  background-color: crimson;
  color: white;
}

.aqua {
  background-color: aquamarine;
}

.t_head {
  background-color: #2c3e50 !important;
}

.green {
  background-color: green;
  color: white;
}
